{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="my-4">{% if form.instance.pk %}Edit Inventory Item{% else %}Add Inventory Item{% endif %}</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'inventory_list' %}" class="btn btn-secondary">Back to Inventory List</a>
    </form>
</div>
{% endblock %}
